<div class="center hud">
    <h1>Welcome to Will Learns Ruby</h1>
    <div class="center welcome-msg">
      <h2>
        This site is built in the Ruby on Rails framework and inspired heavily
        by the instruction of the 
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.  Sign up and follow along as I continue to add new 
        technologies to the site!
      </h2>
    </div>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>