<% provide(:title, "About") %>
<h1>About</h1>
<div class="about-info">
  <h3>Some of the site's current features include:</h3>
  <ul class="list-group">
    <li class="list-group-item">
      Industrial-grade password encryption using bcrypt
    </li>
    <li class="list-group-item">
      User creation and authorizations
    </li>
    <li class="list-group-item">
      A twitter-like messaging and following system for users
    </li>
    <li class="list-group-item">
      Robust postgreSQL database in production environment
    </li>
    <li class="list-group-item">
      Images in user posts hosted in an S3 bucket
    </li>
    <li class="list-group-item">
      Dynamic Routing
    </li>
  </ul>
  <h3>And here are some of my plans for what to add in the future:</h3>
  <ul class="list-group">
    <li class="list-group-item">
      Increased funtinality for user profiles such as following other users
    </li>
    <li class="list-group-item">
      An Elasticsearch search engine to provide user-post search
    </li>
    <li class="list-group-item">
      Custom domain with AWS hosted instances
    </li>
  </ul>
  <p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
    is a <a href="http://www.railstutorial.org/book">book</a> and a 
    <a href="http://screencasts.railstutorial.org/">screencast series</a> to 
    teach web development with
    <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    This is the sample applicaiton for the tutorial modified by William Horowitz.
  </p>  
</div>
